// =HEIGHT
// ---------------------------------------------------------------------------

$full-height: 100vh !default;
$full-width: 100vw !default;

$desktop-navbar-height: 7vh !default;
$mobile-navbar-height: 8vh !default;

// =COLORS
// ---------------------------------------------------------------------------
$color-orange-teepote: #fcc11d !default;
$color-gris-teepote: #b9b4cd !default;

$color-wood: #E6BF83 !default;


