// NAVBAR
// ---------------------------------------------------------------------------


.is-navbar-container,
.is-navbar-box {
    @include make-container;
    @include flex-items-middle;
    position: fixed;
    top: 0;
    min-width: 100%;
    padding: 10px;
    background-color: $color-wood;

    & .is-brand {
        @include flex;
        @include flex-items-middle;
        margin-left: 100px;
        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
            line-height: 1;
            margin: 0;
        }
        & h1 {
            color: white;
            font-family: $font-family-title-josephine;
        }
    }
}
.is-navbar {
    @include make-container;
    @include flex-items-middle;

    & ul {
        @include make-container;
        @include flex-items-middle;
    }
    & li {
        white-space: nowrap;
        margin-left: $navbar-item-space;
    }
    & a:not(.button) {
        @include cropline(1);
        color: white;
        line-height: 2;
        display: block;
        text-decoration: none;
        // padding-top: $space-8;
        // padding-bottom: $space-8;
        padding: $space-8;
        padding-left: $space-16;
        padding-right: $space-16;
        font-size: $headings-font-size-5;
        font-weight: bold;
        font-family: $font-family-title-josephine;
    }
    & a:hover:not(.button){
        background-color: rgba(255,255,255,0.9);
        border-radius: 5px;
        color: $color-orange-teepote;

    }
    & form {
        margin: 0;
    }
    & input {
        position: relative;
        top: 1px;
    }
    & nav.is-justify {
        text-align: center;
        width: 100%;

        & li {
            flex: 1;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@include for-mobile {
    .is-navbar {
        background-color: rgb(252, 193, 29);
        width: 100%;
        left: 0;
        position: absolute;
        padding-top: 10px;
    }
    a {
        & .icon-kube-menu {
            padding: 10px;
        }
    }
    .is-navbar-container{
        height: $mobile-navbar-height;
        & .is-brand {
            margin-left: 0px;
            & h1{
                font-size: $headings-font-size-2;
            }
        }
    }
    .is-navbar-container.is-scrollable,
    .is-navbar-box.is-scrollable {
        &,
        & .is-navbar,
        & .is-navbar ul {
            display: flex;
            flex-direction: row;
        }
    }
    .is-navbar-container:not(.is-scrollable),
    .is-navbar-box:not(.is-scrollable) {
        &,
        & .is-navbar,
        & .is-navbar ul {
            align-items: flex-start;
            display: block;
            max-width: 100%;
        }
        & .is-navbar {
            & li {
                margin-left: 0;
            }
            & input,
            & .button.is-small {
                margin-top: $space-8;
                margin-bottom: $space-8;
            }
            & nav.is-justify {
                text-align: left;
            }
        }
    }
}


@include not-mobile {
    .is-navbar-container {
        height: $desktop-navbar-height;
    }
}