
div.page {
	// @include flex;
	// @include flex-items-center;
	width: 100%;
	background-color: $color-gris-teepote;
	background-color: white;
	& h1{
		color: $color-orange-teepote;
		margin: auto;
		min-width: 100%;
	}
}



@include not-mobile {
	div.page {
		min-height: $full-height - $desktop-navbar-height;
		&.is-first{
			margin-top: $desktop-navbar-height;
		}
	}
}

@include for-mobile {
	div.page {
		min-height: $full-height - $mobile-navbar-height;
		&.is-first{
			margin-top: $mobile-navbar-height;
		}
	}
}